* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Ubuntu, Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
  background-color: #1f2937;
  color: #e5e7eb;
}

nav > .nav-controllers {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
}

nav .logo {
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  color: #f9faf8;
  padding: 0.5rem 1rem;
}

nav button#hamburger {
  background-color: #1f2937;
  color: #f9faf8;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  font-size: 2rem;
  font-weight: bold;
  border: none;
}

nav button#hamburger:hover {
  border: 2px solid #f9faf8;
  border-radius: 5px;
  font-size: 1.75rem;
}

nav button#closeBtn {
  background-color: #1f2937;
  color: #f9faf8;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  font-size: 2rem;
  font-weight: bold;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  overflow: hidden;
  z-index: 2;
  background-color: #1f2937;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav li > a {
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 1.5rem;
  color: #e5e7eb;
  font-size: 1.5rem;
}

nav li > a:hover {
  background-color: #232d3a;
}

.header-section {
  padding: 2rem 1rem 4rem;
}

.header-section > .image {
  display: none;
}

.header-section h1 {
  color: #f9faf8;
  font-size: 4rem;
  margin: 0;
}

.header-section p {
  color: #e5e7eb;
  font-size: 2rem;
}

.header-section button#cta {
  background-color: #3882f6;
  border: #3882f6;
  color: #f9faf8;
  border-radius: 5px;
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.header-section button#cta:hover {
  background-color: #1f2937;
  color: #f9faf8;
  border: 2px solid #f9faf8;
}

.cube-container {
  display: flex;
  align-content: stretch;
  justify-content: center;
  gap: 3rem;
  padding: 5rem;
}

.mini-cube {
  border-radius: 10px;
  border: 2px solid #3882f6;
  flex: auto;
}

.mini-cube img {
  width: 40%;
  display: block;
  margin: 0 auto;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #1f2937;
  color: #e5e7eb;
}

footer a {
  text-decoration: none;
  color: #aaaaaa;
}

@media only screen and (min-width: 768px) {
  header {
    padding: 2rem;
  }
  
  .header-container,
  .main-container {
    max-width: 1000px;
    margin:  auto;
    padding: 0 10px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-content: stretch;
  }
  
  nav > .logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #f9faf8;
    padding: 0.5rem;
  }
  
  nav > ul {
    display: flex;
    gap: 10px;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav li > a {
    text-decoration: none;
    display: inline-block;
    padding: 1rem;
    color: #e5e7eb;
  }
  
  nav li > a:hover {
    background-color: #232d3a;
  }
  
  .header-section {
    display: flex;
    padding: 2rem 0;
    gap: 2rem;
  }
  
  .header-section > .text,
  .header-section > .image {
    flex: 1;
    padding: 0;
  }
  
  .header-section > .image {
    display: flex;
    align-items: center;
  }
  
  .header-section img {
    width: 80%;
    display: block;
    margin: 0 1rem 0 auto;
  }
  
  .header-section h1 {
    color: #f9faf8;
    font-size: 3rem;
    margin: 0;
  }
  
  .header-section p {
    color: #e5e7eb;
    font-size: 1.125rem;
  }
  
  .header-section button {
    background-color: #3882f6;
    border: #3882f6;
    color: #f9faf8;
    border-radius: 5px;
    padding: 0.5rem 2rem;
    font-weight: bold;
    font-size: 1.15rem;
  }
  
  .cube-container {
    display: flex;
    align-content: stretch;
    justify-content: center;
    gap: 3rem;
    padding: 5rem;
  }
  
  .mini-cube {
    border-radius: 10px;
    border: 2px solid #3882f6;
    flex: auto;
  }
  
  .mini-cube img {
    width: 40%;
    display: block;
    margin: 0 auto;
  }
  
  footer {
    text-align: center;
    padding: 1rem;
    background-color: #1f2937;
    color: #e5e7eb;
  }
  
  footer a {
    text-decoration: none;
    color: #aaaaaa;
  }
}