* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Ubuntu, Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
  background-color: #1f2937;
  color: #e5e7eb;
}

nav > div.nav-controllers {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
}

nav > div.nav-controllers > a.logo {
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  color: #f9faf8;
  padding: 0.5rem 1rem;
}

nav > div.nav-controllers > button#hamburger {
  background-color: #1f2937;
  color: #f9faf8;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  font-size: 2rem;
  font-weight: bold;
  border: none;
}

nav > div.nav-controllers > button#hamburger:hover {
  border: 2px solid #f9faf8;
  border-radius: 5px;
  font-size: 1.75rem;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  overflow: hidden;
  z-index: 2;
  background-color: #1f2937;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav > ul > button#closeBtn {
  background-color: #1f2937;
  color: #f9faf8;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  font-size: 2rem;
  font-weight: bold;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
}

nav > ul > li > a {
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 1.5rem;
  color: #e5e7eb;
  font-size: 1.5rem;
}

nav > ul > li > a:hover {
  background-color: #232d3a;
}

section.header-section {
  padding: 2rem 1rem 4rem;
}

section.header-section > div.text > h1 {
  color: #f9faf8;
  font-size: 4rem;
  margin: 0;
}

section.header-section > div.text > p {
  color: #e5e7eb;
  font-size: 2rem;
}

section.header-section > div.image {
  display: none;
}

section.header-section > div.text > button#cta {
  background-color: #3882f6;
  border: #3882f6;
  color: #f9faf8;
  border-radius: 5px;
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 1.5rem;
}

section.header-section > div.text > button#cta:hover {
  background-color: #1f2937;
  color: #f9faf8;
  border: 2px solid #f9faf8;
}

div.cube-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 5rem;
}

div.cube-container > div.mini-cube {
  border-radius: 10px;
  border: 2px solid #3882f6;
  width: 200px;
  height: 200px;
}

div.cube-container > div.mini-cube > img {
  width: 50%;
  display: block;
  margin: 25%;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #1f2937;
  color: #e5e7eb;
}

footer a {
  text-decoration: none;
  color: #aaaaaa;
}

@media only screen and (min-width: 768px) {
  header > div.header-container,
  main > div.main-container {
    max-width: 1000px;
    margin: 0 auto;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
  }
  
  nav > div.nav-controllers {
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
  }
  
  nav > div.nav-controllers > a.logo {
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: #f9faf8;
    padding: 0.5rem 1rem;
  }
  
  nav > div.nav-controllers > button#hamburger {
    display: none;
  }
  
  nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
    width: auto;
    display: flex;
    flex-direction: row;
  }
  
  nav > ul > button#closeBtn {
    display: none;
  }
  
  section.header-section {
    padding: 2rem 1rem 4rem;
    display: flex;
    gap: 2rem;
  }
  
  section.header-section > div.text,
  section.header-section > div.image {
    flex-basis: 50%;
    display: block;
  }
  
  section.header-section > div.image {
    display: flex;
    align-items: center;
  }
  
  section.header-section > div.text > h1 {
    color: #f9faf8;
    font-size: 4rem;
    margin: 0;
  }
  
  section.header-section > div.text > p {
    color: #e5e7eb;
    font-size: 2rem;
  }
  
  section.header-section > div.image > img {
    width: 100%;
  }
  
  section.header-section > div.text > button#cta {
    background-color: #3882f6;
    border: #3882f6;
    color: #f9faf8;
    border-radius: 5px;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  section.header-section > div.text > button#cta:hover {
    background-color: #1f2937;
    color: #f9faf8;
    border: 2px solid #f9faf8;
  }
  
  div.cube-container {
    flex-direction: row;
    padding: 5rem;
  }
  
  div.cube-container > div.mini-cube {
    border-radius: 10px;
    border: 2px solid #3882f6;
    width: 100px;
    height: 100px;
  }
}